extends layout

block content
    header(id='header').hidden
        a(href="/")
            img(src="/images/signature.svg", id='logo-small')
    .logo-wrap#logo-wrap
        img(src="/images/signature.svg", id='logo').logo.logo-hidden
        img(src="/images/Sunicon.svg", id='sun').logo.sun-hidden
        h1= title
    .main-wrap.main-hidden#main
        .chart-wrap(id='chart')

